---
selected_outputs: 'out.sel'
---
DATABASE minteq.v4.dat
SOLUTION_SPREAD
{{#if temp}}
    -temp {{temp}}
{{/if}}
    -ph {{ph}}
    -pe 4
{{speciesListHeader}}
{{speciesListContent}}
SELECTED_OUTPUT
    -file out.sel
    -selected_out true
    -simulation false
    -pe false
    -state false
    -time false
    -distance false
    -step false
    -totals Edta
    -molalities Zn(Citrate)-   Zn(Edta)-2  Zn+2
