@import "variables"

input
  border: none
  outline: none
  background: transparent

.input-wrapper
  position: relative
  border: $fg-color $line-thickness solid

  &.focus
    border-color: $accent-color

  //&::after
  //  position: absolute
  //  width: 100%
  //  height: $line-thickness
  //  left: 0
  //  bottom: -$line-thickness
  //  background-color: $accent-color
  //  transform: scaleX(0)
  //  transform-origin: 0 0
  //  transition: transform $transition-time
  //
  //  content: ''
  //
  //&.focus::after
  //  transform: scaleX(1)


