// Font Awesome
$fa-font-path: '../../node_modules/font-awesome/fonts'
@import "~font-awesome/scss/font-awesome"

//@import "~bootstrap/scss/bootstrap-reboot.scss"
@import "~bootstrap/scss/bootstrap"
@import "~bootstrap/scss/variables"
@import "variables"
//@import "input"

.spacer
  content: ''
  height: 1em

.close-btn:hover
  background-color: map_get($theme-colors, danger)
  transition: background-color $transition-time
